/Arma3.DllExport/obj
/Arma3.DllExport/bin
/Arma3.DllExport.MsBuild/obj
/.vs
/Arma3.DllExport.MsBuild/bin
/packages
/TestConsole/bin
/TestConsole/obj
/Arma3_TestExtension/.vs
/Arma3.DllExport/.vs
/Arma3_TestExtension/bin
/Arma3_TestExtension/obj
/Arma3_TestExtension/packages
