<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arma3.DllExport" version="0.1.0.3" targetFramework="net481" developmentDependency="true" />
  <package id="Costura.Fody" version="6.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Fody" version="6.9.3" targetFramework="net472" developmentDependency="true" />
</packages>